[submodule "Actividad1/devops-practice"]
	path = Actividad1/devops-practice
	url = git@github.com:Hoperrs/devops-practice.git
[submodule "Actividad2/devsecops-practice"]
	path = Actividad2/devsecops-practice
	url = git@github.com:Hoperrs/devsecops-practice.git
