[submodule "Actividad01/devops-practice"]
	path = Actividad01/devops-practice
	url = git@github.com:Hoperrs/devops-practice.git
[submodule "Actividad02/devsecops-practice"]
	path = Actividad02/devsecops-practice
	url = git@github.com:Hoperrs/devsecops-practice.git
